{% extends 'base.html.twig' %}

{% block title %}Quote - error page{% endblock %}

{% block body %}
<h1>Money Exchange error</h1>

    there was a problem with your exchange request:
    <p>

    {{ message }}

{% endblock %}
